<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM E2E" verbose="1">
    <listeners>
        <listener class-name="com.orangehrm.listeners.ScreenshotListener"/>
    </listeners>
    <test name="Flujo de creación y validación de empleado">
        <classes>
            <class name="com.orangehrm.tests.OrangeHrmE2ETest"/>
        </classes>
    </test>
</suite>
